In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [5]:
df = pd.read_csv('eda_using_basic_data_functions_in_python_dataset1.csv')

In [6]:
df.tail(10)

               date  number_of_strikes  center_point_geom
3401002  2018-12-27                 30  POINT(-97.6 30.4)
3401003  2018-12-27                 30  POINT(-97.5 30.4)
3401004  2018-12-27                 30  POINT(-94.5 32.7)
3401005  2018-12-28                 30  POINT(-90.4 28.9)
3401006  2018-12-28                 30  POINT(-90.2 29.1)
3401007  2018-12-28                 30  POINT(-90.6 28.7)
3401008  2018-12-28                 30  POINT(-89.4 30.9)
3401009  2018-12-28                 30  POINT(-89.5 31.4)
3401010  2018-12-28                 30  POINT(-88.3 31.6)
3401011  2018-12-28                 30  POINT(-88.4 32.1)

In [7]:
df.shape

(3401012, 3)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3401012 entries, 0 to 3401011
Data columns (total 3 columns):
 #   Column             Dtype
---  ------             -----
 0   date               object
 1   number_of_strikes  int64
 2   center_point_geom  object
dtypes: int64(1), object(2)
memory usage: 77.8+ MB

In [9]:
df['date'] = pd.to_datetime(df['date'])

In [10]:
df.groupby(['date']).sum().sort_values('number_of_strikes', ascending=False).head(10)

,number_of_strikes,center_point_geom
date,,
2018-08-29,1070457,POINT(-85.7 29.1)POINT(-85.6 29.1)POINT(-84.5 ...
2018-08-17,969774,POINT(-80.6 20.3)POINT(-80.5 20.3)POINT(-80.4 ...
2018-08-28,917199,POINT(-108.2 28)POINT(-108.1 28)POINT(-108 28)...
2018-08-27,824589,POINT(-109 24.8)POINT(-108 24.8)POINT(-88.1 24...
2018-08-30,802170,POINT(-75.7 19)POINT(-75.6 19)POINT(-78 20)POI...
2018-08-19,786225,POINT(-73 35)POINT(-103 35)POINT(-101 35)POINT...
2018-08-18,741180,POINT(-110.7 46)POINT(-104.9 46)POINT(-115.1 4...
2018-08-16,734475,POINT(-97 20)POINT(-77 20)POINT(-96.9 20)POINT...
2018-08-31,723624,POINT(-95.2 48.4)POINT(-96 48.1)POINT(-96.1 48...
2018-08-15,673455,POINT(-95.7 20)POINT(-95.6 20)POINT(-82 21)POI...

In [11]:
df['month'] = df['date'].dt.month
df.head()

        date  number_of_strikes center_point_geom  month
0 2018-01-03                194     POINT(-75 27)      1
1 2018-01-03                 41   POINT(-78.4 29)      1
2 2018-01-03                 33   POINT(-73.9 27)      1
3 2018-01-03                 38   POINT(-73.8 27)      1
4 2018-01-03                 92     POINT(-79 28)      1

In [12]:
df.info(True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3401012 entries, 0 to 3401011
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   date               datetime64[ns]
 1   number_of_strikes  int64
 2   center_point_geom  object
 3   month              int32
dtypes: datetime64[ns](1), int32(1), int64(1), object(1)
memory usage: 90.8+ MB

In [13]:
df.groupby(['month']).sum().head(10)

TypeError: datetime64 type does not support sum operations

In [ ]:
df['month_text'] = df['date'].dt.month_name().str.slice(stop=3)

In [ ]:
df.head()

In [ ]:
df_by_month = df.groupby(['month','month_text']).sum().sort_values('month', ascending=True, numeric_only=True).head(12).reset_index()
df_by_month

In [14]:
df['month_txt'] = df['date'].dt.month_name().str.slice(stop=3)
df.head()

        date  number_of_strikes center_point_geom  month month_txt
0 2018-01-03                194     POINT(-75 27)      1       Jan
1 2018-01-03                 41   POINT(-78.4 29)      1       Jan
2 2018-01-03                 33   POINT(-73.9 27)      1       Jan
3 2018-01-03                 38   POINT(-73.8 27)      1       Jan
4 2018-01-03                 92     POINT(-79 28)      1       Jan

In [15]:
df_by_month = df.groupby(['month','month_txt']).sum().sort_values('month', ascending=True).head(12).reset_index()
df_by_month

TypeError: datetime64 type does not support sum operations

In [16]:
plt.bar(x=df_by_month['month_txt'],height= df_by_month['number_of_strikes'], label="Number of strikes")
plt.plot()

plt.xlabel("Months(2018)")
plt.ylabel("Number of lightning strikes")
plt.title("Number of lightning strikes in 2018 by months")
plt.legend()
plt.show()

NameError: name 'df_by_month' is not defined